@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.img-navbar {
  width: 5vw;
  margin-left: 5vw;
}

*{
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
}

a{
  text-decoration: none;
}

body{
  font-family: 'Outfit', sans-serif;
  background-color: #18181B;
  height: auto;
}

nav{
  max-width: 100vw;
  margin: auto;
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0 10px 10px 0;
  height: 7vh;
}


.nav-links{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2vw;
}

.link a{
  position: relative;
  padding-bottom: 0.2vw;
  color: #fff;
}

.link a::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #ad0072;
  transition: all 0.3s ease;
}

.link a:hover::after{
  width: 70%;
}

.btn{
  padding: 1rem 2rem;
  font-size: 1rem;
  background-color: #ad0072;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 5vw;
  border: none;
}
.btn > a {
  color: #fff;
}

.home {
  background-image: url(../images/WebsiteCover.png); 
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 19%;
}

.whyus {
  background-image: url(../images/bg_1.png); 
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 18%;
}

.copyright{
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
}



html::-webkit-scrollbar {
  width: 0.75vw; 
}

html::-webkit-scrollbar-track {
background-color: transparent;
}

html::-webkit-scrollbar-thumb {
background: #ff2953;
border-radius: 25px;
}

body {
    font-family: sans-serif;
    margin: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slidesContainer {
  height: 100vh !important;
}

* {
    margin: 0px; 
    padding: 0px; 
}
.slide {
    background-size: 100%;
    text-align: center; 
    position: absolute;
    left: 100vw;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    transition: 1s;
}
.slide h1 {
    color: white;
    font-size: 4em;
    padding-top: 4em;
    /* padding-bottom: 0.6em; */
    font-weight: 900;
}
.slide h2 {
    padding-bottom: 1.5em;
    color: white;
    font-size: 2em;
}
.slidesBtn {
    border: 2px solid white;
    color: white;
    font-size: 1em;
    margin-bottom: 1.5em;
    background-color: transparent; 
    padding: 10px 30px;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 5px;
}
.slidesBtn:hover {
    background-color: white;
    color: black;
}
.circles {
    display: flex;
    justify-content: space-around;
    width: 10vw;
    margin-left: 45vw;
    padding-bottom: 30px;
    /* align-items: center; */
    margin-top: 4vh;
}
.circle {
    width: 1.5vw;
    border: 2px solid white;
    border-radius: 50px;
    height: 1.5vw;
    cursor: pointer;
}

    /* Replace the following URL's with the background image you would like for each slide: */

    #slide1 {
      background-image: url('../images/WebsiteCover.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  #slide2 {
      background-image: url('../images/WebsiteCover.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  #slide3 {
      background-image: url('../images/WebsiteCover.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  #slide4 {
      background-image: url('../images/WebsiteCover.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  #slide5 {
      background-image: url('../images/WebsiteCover.png');
      background-size: cover;
      background-repeat: no-repeat;
  }
  .activeSlide {
      left: 0px;
  }
  .doneSlide {
      left: -100vw;
  }
  .slide1Circle {
      background-color: white;
  }

.whyUs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  background-image: url("../images/bg_1.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  padding: 5vh 0;
}

.containerHeading > h1 {
  color: #fff;
  font-weight: 700;
  /* border-bottom: 5px solid #ff2953; */
  margin: 0;
  font-size: 2.5em;
}

.containerHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3vw;
  margin-bottom: 2vw;
}
.underline {
  width: 5vw;
  height: 5px;
  background: #ff2953;
}

.containerWhyUs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 70%;
  height: auto;
  gap: 4vw;
}

.card > img {
  aspect-ratio: initial;
  /* min-height: 15vh; */
  width: 7.5vw;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  width: 30vw;
  min-height: 30vh;
}

.card > h1 {
  color: #fff;
  font-weight: 700;
  font-size: 1.4em;
  text-align: center;
}

.card > p {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  width: 25vw;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s ease;
  transform: translateX(-100%);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.committees {
  width: 100vw;
  height: auto;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/bg_3.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.commiteeContainer {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2vw;
}

.cardCommittee {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

.cardCommittee > img {
  width: 25vw;
  border-radius: 10px;
}

.cardCommittee > h1 {
  width: 25vw;
  text-align: center;
  color: #fff;
}

.note {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('/images/Letter_bg.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
  padding: 5vh 0;
}

.noteCard > img {
  width: 15vw;
  border-radius: 10px;
  /* aspect-ratio: 1; */
}

.noteCard {
  /* width: 80%; */
  width: 70%;
  height: auto;
  padding: 2vw 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 3vw;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid #fff;
  border-radius: 0 40px 40px 40px;
}

.credentials {
  position: absolute;
  bottom: 1vw;
  right: 7.5vw;
  /* margin-bottom: ; */
  /* width: 50%; */
}

.noteText {
  width: 60%;
  color: #fff;
  font-size: 1.05em;
  line-height: 1.3;
  font-weight: 200;
  margin-bottom: 6vh;
}

.text {
  font-size: 1.05em;
  line-height: 1.1;
  font-weight: 600;
  color: #fff;
}


:root {
  --glow-rgb: 239 42 201;
}


.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
}

.partners {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  
  background-image: url('/images/bg_4.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  scroll-behavior: smooth;
}

.partnerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100vw;
  gap: 2vw;
}

.partner {
  width: 25vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}

.partner > img {
  width: 15vw;
  /* aspect-ratio: 1; */
  border-radius: 10px;
}

.partner > h1 {
  text-align: center;
  color: #fff;
}

.partner > p {
  color: #fff;
  text-align: center;
}

.footer {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background: #000;
}

.logo {
  width: 20%;
  /* border-right: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 15vw;
}

.contact-us {
  width: 33.3%;
  /* border-right: 1px solid #fff; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form > h1 {
  color: #fff;
  font-weight: 700;
  margin-top: 4vw;
}
.linksFooter > h1 {
  color: #fff;
  font-weight: 700;
  margin-top: 4vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  align-self: center;
  gap: 1.5vw;
  padding-left: 5vw;
}


.form > input {
  background-color: transparent;
  border: 2px solid white;
  width: 75%;
  height: 4vh;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
}

.form > button {
  padding: 10px;
  border: 1px solid white;
  color: white;
  background: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.form > textarea {
  background-color: transparent;
  border: 2px solid white;
  width: 75%;
  padding: 7px;
  color: #fff;
  border-radius: 5px;
  resize: none;
}

.linksFooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 5vw;
  gap: 1vw;
}

.linksFooter > a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  transition: all 500ms ease;
  background: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linksFooter > a:hover {
  background: -webkit-linear-gradient(89deg, #EC0146 0.48%, #9F057D 22.21%, #BC3060 39.16%, #E97832 57.03%, #6B2BD8 73.44%, #7D2BB4 88.63%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

svg {
  width: 2vw;
  height: 2vw;
  /* aspect-ratio: 1; */
}

@media only screen and (max-width: 800px) {
  .link {font-size: 0.9em;}
  .cardCommittee > h1 {font-size: 1.5em; margin-bottom: 5vh; width: 50vw;}
  .commiteeContainer {flex-direction: column;}
  .cardCommittee > img {width: 50vw;}
  .noteCard {flex-direction: column;}
  .noteCard > img {width: 50vw}
}